{embed="_embeds/_header" html_title="Speaking"}

<div class="line">
	<div class="headline-block">
		{exp:ed_imageresizer image="/assets/img/judy-speaking.jpg" maxWidth="800" forceWidth="yes" cropratio="16:9" }
		<div class="text">
			<div class="text-table">
				<div class="text-cell">
					<h1 class="h1">Speaking</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="line">
	<div class="mod-wrapper">
		<div class="mod" data-padding="extra">
			<div class="bd">
				<p>Judy offers seminars and classes that equip individuals, couples, and parents to build great relationships, and to better nurture the people they love.</p>
				<h3 class="h3">Sample Lecture: Judy Cares About... Couples</h3>
				<p>Judy cares about couples, but also singles who want a great relationship, couples who have a great relationship and want to keep it that way -- and couples who feel that their relationship is just Okay, and want to make their relationship great. In Part I, Judy outlines the Attraction Sequence in dating, and the Marital Readiness Qualities that couples can look for near engagement. She then shares the Long Marriage Top Ten list, a self-check tool for keeping your marriage vibrant. In Part II, Judy shows couples how to communicate about what's not great in their relationship, and how to reach the deepest levels of understanding and love.</p>
				<iframe style="margin-bottom: 8px" src="http://player.vimeo.com/video/31057219?title=1&amp;byline=0&amp;portrait=0&amp;color=009245" width="688" height="387" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
				<iframe src="http://player.vimeo.com/video/31314962?title=1&amp;byline=0&amp;portrait=0&amp;color=009245" width="688" height="387" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>
</div>

{embed="_embeds/_footer"}
