{embed="_embeds/_header" html_title="Therapy"}

<div class="line">
	<div class="headline-block">
		<div class="photo-credit">
			Photo Credit: <a href="http://www.flickr.com/photos/hurtre/4984977930/">Trevor Hurlbut</a>
		</div>
		{exp:ed_imageresizer image="/assets/img/couple-shadows.jpg" maxWidth="800" forceWidth="yes" cropratio="16:9" }
		<div class="text">
			<div class="text-table">
				<div class="text-cell">
					<h1 class="h1">Therapy</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="line">
	<div class="mod-wrapper">
		<div class="mod" data-padding="extra">
			<div class="bd">
				<p>Judy Fujimura, at her private psychotherapy practice in Princeton, NJ, brings empathy and effective care to individuals, couples, students and parents struggling with relationship issues and emotional ups and downs. Judy also provides pre-marital and pre-baby counseling, workshops for couples, and support groups for parents. Bi-cultural and Bi-traditional issues are also a focus of Judy's practice.

				<p><a href="/contact/">The JudyCares office</a>, conveniently located across the street from Princeton Airport, offers a casual cafe-style consulting room, as well as a traditional consultation room.
				
				<p>Judy’s fee is $150 per 60-minute session. Judy Fujimura is not associated with any insurance carriers. However, an invoice for service can be provided containing all of the information needed to submit an out-of-network claim.
				
				<p>Scheduling is flexible, including evenings and weekends. Skype and phone appointments are available. Accommodations will be made for disabled clients. Judy Fujimura adheres to the strictest confidentiality standards, and supports diversity.
				
				<p><em>Note: Cancellations must be made 24 hours in advance. Clients will be charged $150 for late cancellations or missing appointments.</em></p>
				
				
			</div>
		</div>
	</div>
</div>

{embed="_embeds/_footer"}
