{embed="_embeds/_header" html_title="Therapy" meta_description="Empathetic therapy and effective counseling for individuals, couples, and families. Princeton, NJ and Online"}

<div class="line">
	<div class="headline-block">
		{exp:ed_imageresizer image="/assets/img/office.jpg" maxWidth="960" forceWidth="yes" cropratio="16:9" }
		<div class="text">
			<div class="text-table">
				<div class="text-cell">
					<h1 class="h1">Therapy</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="line">
	<div class="mod-wrapper">
		<div class="mod" data-padding="extra">
			<div class="bd">

				<p>Judy Fujimura, at her private practice in Princeton, NJ, provides empathic therapy and effective marriage counseling. Judy works with individuals, couples, students and parents struggling with relationship issues and emotional ups and downs. Judy also provides pre-marital and pre-baby counseling, couples therapy workshops, and support groups for parents. Bi-cultural and Bi-traditional counseling is also a focus of Judy's practice.</p>

				{exp:ed_imageresizer class="img-center" image="/assets/img/cafe.jpg" maxWidth="600" forceWidth="yes" cropratio="3:2" }

				<p><a href="/contact/">Judy Fujimura’s office</a>, conveniently located across the street from Princeton Airport, offers a casual cafe-style consulting room, as well as a traditional counseling room.</p>

				<h3 class="h3">Therapy by Skype & Phone</h3>

				<p>Judy also specializes in Skype and Phone sessions, providing effective care for individuals and couples living or traveling outside the New Jersey area. Her scheduling is flexible, including evenings and weekends. Judy makes accomodations for disabled clients.</p>

				{exp:ed_imageresizer class="img-center" image="/assets/img/at-computer.jpg" maxWidth="600" forceWidth="yes" cropratio="3:2" }

				<h3 class="h3">Counseling Fees &amp; Insurance</h3>

				<p>Judy’s fee is $150 per 60-minute session. Judy Fujimura is not associated with any insurance carriers. However, an invoice for counseling can be provided containing all of the information needed to submit an out-of-network claim. Judy Fujimura adheres to the strictest confidentiality standards, and supports diversity.</p>
				
				<p><em>Note: Cancellations for counseling appointments must be made at least 24 hours in advance. Clients will be charged $150 for late cancellations or missing appointments.</em></p>

				<h3 class="h3">Intake Forms</h3>
				
				<p>To serve clients better, new patients must submit a short intake form before their first therapy appointment. Judy will provide this form by email.</p>
				
				<br/>
				<br/>
				<br/>

				<div class="meta-bar">
					Would you like to make an appointment for marriage counseling or individual therapy? <a href="/contact/">Contact Judy!</a>
				</div>

			</div>
		</div>
	</div>
</div>

{embed="_embeds/_footer"}
