{embed="_embeds/_header" html_title="Therapy"}

<div class="line">
	<div class="headline-block">
		{exp:ed_imageresizer image="/assets/img/couple-shadows.jpg" maxWidth="800" forceWidth="yes" cropratio="16:9" }
		<div class="text">
			<div class="text-inner">
				<h1 class="h1">Therapy</h1>
			</div>
		</div>
	</div>
</div>

<div class="line">
	<div class="mod-wrapper">
		<div class="mod" data-padding="extra">
			<div class="bd">
				<p>Judith Fujimura offers flexible scheduling at her office, located at 303 5th Avenue.</p>
				<p>Judith's fee is $150 per 60-minute session. Appointments can be scheduled by calling or texting Judith at 917-584-7107, or through her email, Judy@Judycares.com.</p>
				<p>Cancellations must be made 24 hours in advance. Clients will be charged $150 for late cancellations or missed appointments. Phone and Skype sessions are also available.</p>
				<p>The privacy of your health care information deserves to be protected. Therefore, Judy Fujimura’s practice conforms to the highest standards of confidentiality.</p>
				<p>Judy Fujimura is not associated with any insurance carriers. However, an invoice for service can be provided containing all of the information needed to submit an out-of-network claim.</p>
				<p>Relationships in all of their diverse forms are valuable contexts for human connecting and growth. Therefore, Judy Fujimura’s practice includes clients with diverse relationship histories; traditional and non-traditional family groups; people of all religious faith traditions or with no faith perspective, as well as people from all ethnic and socioeconomic groups.</p>
			</div>
		</div>
	</div>
</div>

{embed="_embeds/_footer"}
