/*
 * CSS Reset by http://meyerweb.com/eric/tools/css/reset/
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul, nav { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* Clearfix */
.clear:before, .clear:after,
.main:before, .main:after,
.line:before, .line:after,
.unit:before, .unit:after,
.mod:before, .mod:after,
.mod-wrapper:before, .mod-wrapper:after { content:""; display:table; }
.clear:after, .main:after, .line:after, .unit:after, .mod:after, .mod-wrapper:after{ clear:both; }


/*
 * Animations
 */

@keyframes fadein {
    from { opacity:0; }
  	to { opacity:1; top: 0; }
}
@-moz-keyframes fadein {
    from { opacity:0; }
  	to { opacity:1; top: 0; }
}
@-webkit-keyframes fadein {
    from { opacity:0; }
  	to { opacity:1; top: 0; }
}

/*
 * Font Declarations
 */

@font-face {
  font-family: "SSSocial";
  src: url('../fonts/ss-social-circle.eot');
  src: url('../fonts/ss-social-circle.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ss-social-circle.woff') format('woff'),
       url('../fonts/ss-social-circle.ttf') format('truetype'),
       url('../fonts/ss-social-circle.svg#SSSocialCircle') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SSSocial";
  src: url('../fonts/ss-social-regular.eot');
  src: url('../fonts/ss-social-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ss-social-regular.woff') format('woff'),
       url('../fonts/ss-social-regular.ttf') format('truetype'),
       url('../fonts/ss-social-regular.svg#SSSocialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ss-icon, .ss-icon.ss-social, .ss-icon.ss-social-circle,
[class^="ss-"]:before, [class*=" ss-"]:before, 
[class^="ss-"][class*=" ss-social"]:before, [class*=" ss-"][class*=" ss-social"]:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"][class*=" ss-social"].right:after, [class*=" ss-"][class*=" ss-social"].right:after{
  font-family: "SSSocial";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.ss-icon.ss-social-circle, 
[class^="ss-"].ss-social-circle:before, [class*=" ss-"].ss-social-circle:before,
[class^="ss-"].ss-social-circle.right:after, [class*=" ss-"].ss-social-circle.right:after{
  font-weight: bold;
}

[class^="ss-"].right:before, [class^="ss-"][class*=" ss-social"].right:before{display:none;content:'';}

.ss-facebook:before,.ss-facebook.right:after{content:''}.ss-twitter:before,.ss-twitter.right:after{content:''}.ss-linkedin:before,.ss-linkedin.right:after{content:''}.ss-googleplus:before,.ss-googleplus.right:after{content:''}.ss-tumblr:before,.ss-tumblr.right:after{content:''}.ss-wordpress:before,.ss-wordpress.right:after{content:''}.ss-blogger:before,.ss-blogger.right:after{content:''}.ss-posterous:before,.ss-posterous.right:after{content:''}.ss-youtube:before,.ss-youtube.right:after{content:''}.ss-vimeo:before,.ss-vimeo.right:after{content:''}.ss-flickr:before,.ss-flickr.right:after{content:''}.ss-instagram:before,.ss-instagram.right:after{content:''}.ss-pinterest:before,.ss-pinterest.right:after{content:''}.ss-dribbble:before,.ss-dribbble.right:after{content:''}.ss-behance:before,.ss-behance.right:after{content:''}.ss-github:before,.ss-github.right:after{content:''}.ss-octocat:before,.ss-octocat.right:after{content:''}.ss-paypal:before,.ss-paypal.right:after{content:''}.ss-foursquare:before,.ss-foursquare.right:after{content:''}.ss-skype:before,.ss-skype.right:after{content:''}.ss-rdio:before,.ss-rdio.right:after{content:''}.ss-spotify:before,.ss-spotify.right:after{content:''}.ss-lastfm:before,.ss-lastfm.right:after{content:''}.ss-mail:before,.ss-mail.right:after{content:'✉'}.ss-like:before,.ss-like.right:after{content:'👍'}.ss-rss:before,.ss-rss.right:after{content:''}



/*
 * Global Styles
 */

html { height: 100%; background: rgb(220,237,223); background: fixed -webkit-linear-gradient(top, rgba(160, 193, 160,.2), rgba(160, 193, 160,.4)); min-width: 320px; }
body { font-family: "brandon-grotesque", sans-serif; padding: 12px; font-size: 14px; line-height: 23px; color: #222; }
.wrapper { background: rgb(254,254,254); }

a { color: rgb(0,135,68); text-decoration: none; }
a:hover { color: rgb(55, 175, 116); }
strong { font-weight: bold; }
em { font-style: italic; }

.h1, .h2, .h3, .h4, .h5, .h6 { font-family: "brandon-grotesque", sans-serif; }
.h1 { font-weight: 700; font-size: 24px; line-height: 24px; }
.h2 { font-weight: 400; font-size: 32px; line-height: 32px; }
.h3 { font-weight: 700; font-size: 24px; line-height: 24px; }
.h4 { font-weight: 700; font-size: 14px; line-height: 14px; text-transform: uppercase; letter-spacing: .2em; color: #444; }
.h5 { font-size: 16px; line-height: 22px; font-style: italic; }
.h6 { font-weight: 700; font-size: 16px; line-height: 22px; font-style: italic; color: #888; }
.h6:before { content: "— "; color: #ccc; }
.h6:after { content: " —"; color: #ccc; }

header, footer, ul.tag-list, .headline-block { user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }

input[type="text"], input[type="password"] { background: rgb(220,237,223); display: inline-block; border: 1px solid rgb(135, 216, 183); outline: none; padding: 8px; font-family: "ff-tisa-web-pro"; font-size: 14px; }
.button { display: inline-block; font-family: "brandon-grotesque"; font-weight: 700; font-size: 24px; cursor: pointer; padding: 4px 8px; border: none; background: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,.1)) rgb(0,135,68); color: white; text-align: center; border-radius: 4px; }
.button:hover { background: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,.1)) rgb(0, 116, 58); color: white; }
.button.button-primary { display: block; margin: 32px auto 0; padding: 16px 32px; font-size: 20px; box-shadow: 0 1px 4px rgba(0,0,0,.2); }

/*
 * Navigation
 */

.user-bar { overflow: hidden; color: white; padding: 8px 24px; background: rgb(71, 190, 142); }
.user-bar a { color: white; text-decoration: underline; }
.user-bar a:hover { color: rgb(204,216,210); }
.user-bar .user-menu { float: right; }
.user-bar .user-menu li { float: left; }
.user-bar .user-menu li + li { margin-left: 16px; }

header { font-weight: 100; position: relative; background: rgb(30,148,89); overflow: hidden; }
header a.logo { float: left; width: 33.33%; background: rgb(0,135,68); text-align: center; display: block; font-family: "brandon-grotesque"; font-size: 20px; font-weight: 500; line-height: 48px; color: white; -webkit-transition: font-size .2s;}
header a.logo em { font-style: normal; color: rgb(189,231,214); }
header nav.main-menu li { float: left; width: 33.33%; }
header nav.main-menu li a { -webkit-transition: background .2s; font-size: 12px; text-transform: uppercase; letter-spacing: .2em; }
header nav.main-menu li a:hover { background: rgb(70,166,118); }
header nav.main-menu li a.active { background: rgb(56,160,108); }
header nav.contact-menu { background: rgb(42,160,113); }
header nav.contact-menu ul { height: 48px; }
header nav.contact-menu ul.social-links { text-align: center; }
header nav.contact-menu ul.social-links li { width: 16px; padding: 0 10px; }



footer { padding: 24px 24px 20px 24px; font-size: 12px; overflow: hidden; background: rgb(0,135,68); text-align: center; }

footer nav.footer-menu { margin-bottom: 16px; overflow: hidden; }
footer nav.footer-menu li a { font-weight: 100; color: white; text-transform: uppercase; letter-spacing: .2em; }
footer nav.footer-menu li a:hover { color: rgb(204,216,210); }
footer nav.contact-menu ul.social-links { letter-spacing: -0.25em;  }
footer nav.contact-menu ul.social-links li { width: auto;  }
footer nav.contact-menu ul.social-links li+li { margin-left: 8px;  }
footer nav.contact-menu ul.social-links li a { line-height: normal; height: auto; color: white;}
.copy { text-align: center; color: rgba(0,68,34,0.7); background: rgb(220,237,223); background: fixed -webkit-linear-gradient(top, rgba(160, 193, 160,.2), rgba(160, 193, 160,.4)); }


.menu-links { width:100%; }
.menu-links li { float: left; width: 50%; }
.menu-links li a { -webkit-transition: background .2s; }
ul.menu-links.social-links { letter-spacing: -0.22em; }
ul.menu-links.social-links li { float: none; display: inline-block; margin: 0; width: 33.33%;  }
ul.menu-links.social-links li a { display: inline-block; padding: 0 10px; }

header .menu-links li a:hover { background: rgb(70,166,118); }
header .menu-links li a:active { background: rgb(56,160,108); }

footer .menu-links li a:hover { opacity: 0.6; }

/*
 * Objects
 */

.mod-wrapper, .mod { padding: 12px; }
.mod .hd { margin-bottom: 16px; }
.mod .bd { font-family: "ff-tisa-web-pro"; }
.mod .bd > * { margin-bottom: 12px; }
.mod .bd > *:last-child { margin-bottom: 0; }
.mod .bd > ol { list-style: decimal; font-size: 13px; margin-right: 64px; margin-left: 64px; }
.mod .bd > h3, .mod .bd > h4, .mod .bd > h5, .mod .bd > h6 { padding-top: 16px; }
.mod.mod-flush { padding: 0; }

.headline-block { padding-top: 56.25%; overflow: hidden; position: relative; }
.headline-block a { text-decoration: underline; }
.headline-block a:hover { color: rgba(255,255,255,.8); }
.headline-block img { position: absolute; top: 0; left: 0; display: block; width: 100%; height: auto; }
.headline-block .photo-credit { position: absolute; z-index: 2; bottom: 8px; right: 8px; font-size: 11px; width: 400px; text-align: right; color: #ccc; line-height: 1em; }
.headline-block .photo-credit a { color: #ccc; text-shadow: 0 1px 1px rgba(0,0,0,1); }
.headline-block .photo-credit a:hover { color: #eee; }
.headline-block .text { position: absolute; top: 0; left: 5%; right: 5%; height: 100%; width: 90%; color: white; text-shadow: 0 1px 1px rgba(0,0,0,1); }
.headline-block .text a { color: white; }
.headline-block .text .text-table { display: table; position: absolute; top: 0; left:0; width: 100%; height: 100%; }
.headline-block .text .text-cell { display: table-cell; vertical-align: middle; text-align: center; z-index: 1; position: relative; animation: fadein 2s; -moz-animation: fadein 2s; -webkit-animation: fadein 1s; -o-animation: fadein 2s; }
.headline-block .text .text-cell h1 { margin-bottom: 8px; line-height: 1em; }
.headline-block[data-alignment="right"] .text { left: 55%; width: 40%; }
.headline-block[data-alignment="right"] .text-cell { text-align: left; }
.headline-block .text:after { content: ""; display: block; padding-top: 56.25%; }
.headline-map { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

ul.list > li { padding-bottom: 15px; margin-bottom: 16px; border-bottom: 1px dashed rgb(200, 233, 200); }
ul.list[data-padding="wide"] > li { padding-bottom: 31px; margin-bottom: 32px; }
ul.list > li.last { padding-bottom: 0; margin-bottom: 0; border-bottom: none; }

ul.bulleted { list-style-type: square; margin-left: 30px; }

.article-preview { text-align: center; max-width: 450px; display: block; margin: 0 auto; }
.article-preview img { margin-bottom: 24px; }
.article-preview h2 { margin-bottom: 20px; }

ul.tag-list { text-align: center; font-size: 13px; margin-bottom: -8px; }
ul.tag-list > li { margin-bottom: 8px; display: inline-block; }
ul.tag-list > li + li { margin-left: 4px; }
ul.tag-list > li a { background: rgb(204, 247, 225); border-radius: 100px; display: inline-block; padding: 1px 12px 3px; }
ul.tag-list > li a:hover { background: rgb(163, 241, 202); }
ul.tag-list > li a.active { background: rgb(0,135,68); color: white; }

ul.menu-links {}
ul.menu-links li a { display: block; text-align: center; height: 48px; line-height: 48px; color: white; }

.aux { color: #888; text-align: center; }
.callout { padding: 32px 12.5%; }
.meta-bar { border-top: 1px dashed rgb(200, 233, 200); border-bottom: 1px dashed rgb(200, 233, 200); padding: 16px 0; text-align: center; font-size: 16px; line-height: 24px; margin-bottom: 32px; }

dl.info { text-align: center; }
dl.info dt { margin-bottom: 8px; }
dl.info dd { margin-bottom: 32px; }
dl.info dd.last { margin-bottom: 0; }

.flag { border-radius: 5px; background: rgb(0,135,68); color: white; font-size: 15px; text-transform: uppercase; letter-spacing: .1em; font-weight: 700; padding: 2px 8px; }
a:hover .flag { background: rgb(55, 175, 116); }

img.snug { display: block; max-width: 100%; margin: 0 auto; }



/*
 * Responsive Styles
 */

@media only screen and (min-width: 600px) {
	
	/* Grid */

	.line { overflow: hidden; }
	.unit { float: left; }
	.unit.size1of1 { width: 100%; }
	.unit.size1of2 { width: 50%; }
	.unit.size1of3 { width: 33.333%; }
	.unit.size2of3 { width: 66.667%; }
	.unit.size1of4 { width: 25%; }
	.unit.size3of4 { width: 75%; }
	.unit.size1of5 { width: 20%; }
	.unit.size2of5 { width: 40%; }
	.unit.size3of5 { width: 60%; }
	.unit.size4of5 { width: 80%; }
	.unit.size1of6 { width: 16.666%; }
	.unit.size5of6 { width: 83.333%; }
	.unit.size1of8 { width: 12.5%; }
	.unit.size3of8 { width: 37.5%; }
	.unit.size5of8 { width: 62.5%; }
	.unit.size7of8 { width: 87.5%; }


	/* Global Styles */

	body { padding: 24px; font-size: 15px; line-height: 25px; }

	.h1 { font-size: 48px; line-height: 48px; }
	

	/* Navigation */

	header a.logo { position: absolute; width: 25%; left: 0; top: 0; height: 100%; line-height: 144px; font-size: 24px; }
	header nav.main-menu, header nav.contact-menu { margin-left: 25%; width: 75%; }
	header nav.contact-menu ul { float: left; width: 60%; max-width: 340px; }
	header nav.contact-menu ul li { width: 50%; }
	header nav.contact-menu ul li a { width: auto; white-space: nowrap; }
	header nav.contact-menu ul.social-links { width: auto; float: right; text-align: right; padding-right: 16px;}
	header nav.main-menu li { width: 20%; }
	header nav.main-menu li a { height: 96px; line-height: 96px; }
	
	footer nav.footer-menu { display: inline-block; margin: 0 auto; }
	footer nav.footer-menu li { float: left; }
	footer nav.footer-menu li + li { margin-left: 16px; }
	.copy { padding-top: 64px; }


	/* Objects */

	.mod-wrapper, .mod { padding: 18px; }
	.mod[data-padding="extra"] { padding: 48px; }
	
	.button.button-primary { font-size: 32px; max-width: 400px; }

	.headline-block .photo-credit { bottom: 16px; right: 16px; }

	.callout { padding-left: 25%; padding-right: 25%; }

	.meta-bar { font-size: 24px; line-height: 32px;}

}

@media only screen and (min-width: 928px) {

	/* Global Styles */

	.h1 { font-size: 64px; line-height: 64px; }

	.wrapper { width: 880px; margin: 0 auto; }


	/* Navigation */

	header a.logo { font-size: 32px; }
	header nav.main-menu li a { font-size: 12px; }

	footer nav.footer-menu { float: left; margin-bottom: 0; }
	footer .contact-menu { float: right; text-align: right; }

	/* Objects */

	.mod-wrapper, .mod { padding: 24px; }
	.mod[data-padding="extra"] { padding: 96px; }

}