{embed="_embeds/_header"}

<div class="line">
	<div class="map headline-map" data-address="362 Wall St. Princeton NJ 08540" data-blurb="<strong>JudyCares Office</strong><br/>365 Wall Street<br/>Princeton, NJ 12345"></div>
</div>

<div class="line">
	<div class="mod-wrapper">
		<div class="mod">
			<div class="bd">
				<div class="callout">
					<dl class="info">
						<dt class="h6">Tel</dt><dd>917-584-7107 (between 9am and 10pm EST)</dd>
						<dt class="h6">Email</dt><dd><script type="text/javascript">
							//<![CDATA[
							<!--
							var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i==62)y+=" +
							"i;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"XJ.\\" +
							"\"6*++f!`1c0:,<o9}=nvwz84d\\\"u0808\\024\\tN\\017Y\\n\\n\\\\\\037\\001\\003" +
							"\\007\\tE\\026A\\023\\031\\023\\0017\\032\\022\\0229\\rR\\027\\024\\r\\016\\"+
							"027\\036}xrj?14>31av4v\\\"dm=i.74\\\"40q?r' #9\\017\\023J\\nY\\tKVS\\000TV\\"+
							"\\V\\007B]X\\t\\034_H\\016Y\\033\\021\\033\\t=\\tVi(9~v`rrzg*d\\\"~{mce`;$9" +
							"y{1\\\"g}4?7,\\027\\r~\\001T_TFMQ\\016@\\033\\032\\037sl\\036\\034\\020\\00" +
							"5\\007\\006kdtbufd~c\\034\\035\\036\\001\\030\\031\\032\\033=\\004\\035\\01" +
							"4\\027{\\177\\177\\014\\r \\017\\010'\\002\\037\\0069.\\007\\000\\031\\020\\"+
							"030(\\000SST9:\\031\\\\ZZ70(\\035\\005\\004\\031IK1\\000\\016\\002C\\036\\0" +
							"14\\033\\014.\\010jyD(oeX=zokbly}N #\\\"OH&$'DE*(,ABKN}~\\026\\027\\025z{\\" +
							"035\\031\\032wp\\032\\034\\037lm\\004\\001\\004ijEde\\r\\t\\014ab\\010pq\\0" +
							"36\\037wvv\\033\\024y|y|\\021\\022!\\014\\rb`d\\t\\nahi\\006\\007\\rhno<=WP" +
							"T9:SXY67Z\\\\^3,FBC()FFH%&=C\\\"I01^_156[T$<v1jv~&*!2)43 /(FG8<5?\\031\\t\\" +
							"007\\016x\\007\\016AU\\022E\\013B_[[UCO\\010\\035\\034\\035\\034A\\021d\\02" +
							"2U\\025J~%%-\\0006$.$f1b.(\\\"\\r=19\\021>;'0y?73)(\\016ct\\017ZUQUXC\\036S" +
							"[WA\\025DG\\026[BE[J\\034^\\021\\021\\002SPW\\024El=k848o/zfl0dyiau}<k)y:K:" +
							"E8&s1w?R@TX\\r\\\\\\n_\\000O\\nECDZL^DT\\021\\035\",62)"                     ;
							while(x=eval(x));
							//-->
							//]]>
							</script>
						</dd>
						<dt class="h6">Office</dt><dd>362 Wall St., Princeton, NJ 12345</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>

{embed="_embeds/_footer"}
