{embed="_embeds/_header" html_title="About"}

<div class="line">
	<section class="headline-block" data-alignment="right">
		{exp:ed_imageresizer image="/assets/img/at-table.jpg" maxWidth="960" forceWidth="yes" cropratio="16:9"}
		<div class="text">
			<div class="text-table">
				<div class="text-cell">
					<h1 class="h1">About Judy</h1>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="line">
	<div class="mod-wrapper">
		<div class="mod" data-padding="extra">
			<div class="bd">
				<p>Judith B. Fujimura, M.A., received her B.A. with a major in Psychology and a minor in Sociology from Bucknell University in 1983. She received her M.A. in Marriage and Family Therapy and Human Development from the University of Connecticut in 1985. Judy has worked in private practice in Tokyo and New York City, and in group practice in New York City.</p>
				<p>Judith works with couples in conflict, bi-cultural and bi-traditional couples, and blended families. She also provides parent coaching and treatment for anxiety and depression. Judith is a clinical member of AAMFT, the American Association of Marriage and Family Therapists, and is a licensed MFT in New Jersey, New York, and Connecticut.</p>
				<p>Judith Fujimura's practice includes clients with diverse relationship histories; traditional and non-traditional couples and family groups; people of all religious faith traditions, or with no faith perspective, as well as people from all ethnic and socioeconomic groups.</p>
				<p>Judy is a consultant with the Montgomery Alliance for Drug and Alcohol Abuse Prevention and a writer for <a href="http://yoffielife.com/">YoffieLife</a>, a new lifestyle website launching in May 2014.</p>
			</div>
		</div>
	</div>
</div>

{embed="_embeds/_footer"}
