<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" class="unsupported"><![endif]-->
<!--[if IE 7 ]><html xmlns:fb="http://ogp.me/ns/fb#" lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html xmlns:fb="http://ogp.me/ns/fb#" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

	<!--
	JudyCares.com
	Version 2
	-->
	
	<title>{site_name}{if embed:html_title}: {embed:html_title}{/if}</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	{if embed:meta_description}
		<meta name="description" content="{embed:meta_description}">
	{/if}

	<link rel="stylesheet" href="/assets/css/main.css" />
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.js"></script>
	<script src="/assets/js/respond.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="//use.typekit.net/myo5hwu.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript" src="//cdn.sublimevideo.net/js/qdlqnxmz.js"></script>
	
	{if environment == "production" AND member_id != 1}
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-19405239-2']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	{/if}


</head>
<body>

	<div class="wrapper">

		{if logged_in}
			<section class="user-bar">
				You are logged in as {screen_name}.
				<nav class="user-menu">
					<li>
						<a href="{path='logout'}">Log Out</a>
					</li>
					<li>
						<script type="text/javascript">
						//<![CDATA[
						<!--
						var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
						"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
						"\\\\,l=x.length;for(i=0;i<l;i++){if(i<89)y++;y%=127;o+=String.fromCharCode(" +
						"x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\>3=\\\\\\\\025\\\\\\\\017\\\\\\" +
						"\\001\\\\\\\\010\\\\\\\\034D\\\\\\\\033\\\\\\\\034\\\\\\\\031\\\\\\\\006\\\\"+
						"\\\\021\\\\\\\\032\\\\\\\\026R^B`#mulm0S3~t~uor%RWJULkGZUJVVK^N\\\\\\\\021\\"+
						"\\\\\\\\\"\\\\,(x:>/%40!j\\\\\\\\023.9&\\\\\\\\\\\"\\\\\\\\\\\\002\\\\\\\\0" +
						"27\\\\\\\\002\\\\\\\\032QM<\\\\\\\\004\\\\\\\\003\\\\\\\\005\\\\\\\\030\\\\" +
						"\\\\013\\\\\\\\017]RgusmyxQ,/dxf\\\\\\\\177q(J5[usxw=xpR\\\\\\\\001JFHUz\\\\"+
						"\\\\005\\\\\\\\026aOG\\\\\\\\\\\\\\\\\\\\\\\\021\\\\\\\\001N\\\\\\\\016\\\\" +
						"\\\\023\\\\\\\\033\\\\\\\\010\\\\\\\\004\\\\\\\\016\\\"\\\\,89)\\\"(f};)lo," +
						"0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x" +
						"{yrt{)87=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f n" +
						"oitcnuf\")"                                                                  ;
						while(x=eval(x));
						//-->
						//]]>
						</script>
					</li>
				</nav>
			</section>
		{/if}
		
		<header>
		
			<a href="/" class="logo">Judith <em>Fujimura</em></a>

			<nav class="contact-menu clear">
				<ul class="menu-links">
					<li><span class="mailme" data-address="judy at judycares dot com"></span></li>
					<li><a href="tel:9175847107">(917) 584-7107</a></li>
					<li><span>Skype: judycares1</span></li>
				</ul>
				<ul class="menu-links social-links">
					<li><a target="_blank" href="https://www.facebook.com/judycarespsychotherapy" class="ss-icon ss-facebook"></a></li>
					<li><a target="_blank" href="http://www.linkedin.com/in/judycares" class="ss-icon ss-linkedin"></a></li>
				</ul>
			</nav>
			
			<nav class="main-menu clear">
				<ul class="menu-links">
				<li>
					<a href="/articles/"
					{if segment_1 == "articles"} class="active"{/if}
					>
						Articles
					</a>
				</li>
				<li>
					<a href="/therapy/"
					{if segment_1 == "therapy"} class="active"{/if}
					>
						Therapy
					</a>
				</li>
				<li>
					<a href="/speaking/"
					{if segment_1 == "speaking"} class="active"{/if}
					>
						Speaking
					</a>
				</li>
				<li>
					<a href="/about/"
					{if segment_1 == "about"} class="active"{/if}
					>
						About
					</a>
				</li>
				<li>
					<a href="/contact/"
					{if segment_1 == "contact"} class="active"{/if}
					>
						Contact
					</a>
				</li>
				</ul>
			</nav>

		</header>

		<section class="main">
