{exp:channel:entries url_title="{embed:url_title}" limit="1"}

{embed="_embeds/_header" html_title="{title}" meta_description="{article_subtitle}"}

<div class="line">
	<div class="headline-block">
		{if article_photo_credit_link}
		<div class="photo-credit">
			Photo Credit: <a href="{article_photo_credit_link}">{article_photo_credit_text}</a>
		</div>
		{/if}
		{exp:ed_imageresizer image="{article_image}" maxWidth="800" forceWidth="yes" cropratio="16:9" }
		<div class="text">
			<div class="text-inner">
				<h1 class="h1">{title}</h1>
				<h2 class="h5">By Judy Fujimura, M.A.</h2>
				{if category_count != 0}
				<h2>Topics: 
					{categories backspace="1"}<a href="#">{category_name}</a>,{/categories}
				</h2>
				{/if}
			</div>
		</div>
	</div>
</div>

<div class="line">
	<div class="mod-wrapper">
		<div class="mod" data-padding="extra" data-bg-style="white">
			<div class="bd">

				{exp:scm_access entry_id="{entry_id}"}
					{if article_is_premium == "Yes"}

						{if no_access}

							{premium_article_blurb}...
							
							{if logged_in}
							
								<?php $fresh_login = isset($_GET['login_stage']) ? $_GET['login_stage'] : false; ?>

								{exp:simple_commerce:purchase entry_id="{entry_id}" success="/articles/{url_title}" cancel="/articles/{url_title}"}
									<a class="button button-primary" href="{buy_now_url}">
										<?php if ($fresh_login) : ?>
											Continue to Paypal
										<?php else : ?>
											Purchase for ${item_regular_price}
										<?php endif; ?>
									</a>
								{/exp:simple_commerce:purchase}
							
							{if:else}
										
								<?php
									$login_stage = isset($_GET['login_stage']) ? $_GET['login_stage'] : false;

									if($login_stage) :
								?>

									{embed="_embeds/_login_flow" success_url="/articles/{url_title}/?fresh_login=true"}

								<?php else : ?>

									{exp:simple_commerce:purchase entry_id="{entry_id}" success="/articles/{url_title}" cancel="/articles/{url_title}"}
										<a class="button button-primary" href="?login_stage=email">Purchase for ${item_regular_price}</a>
									{/exp:simple_commerce:purchase}

								<?php endif; ?>
							{/if}
						{if:else}
							<div>
								Thank you for purchasing this premium content.
							</div>
							{article_body}			
						{/if}
					{if:else}
						{article_body}			
					{/if}
				{/exp:scm_access}
			</div>
		</div>
	</div>
</div>

{/exp:channel:entries}

{embed="_embeds/_footer"}
